$blue: #227c9d;
$light-yellow: #ffcb77;
$floral-white: #fef9ef;
$coral: #fe6d73;
$silver: #acacac;
$charcoal: #353b4a;
$red: #ef3e36;
$strong-yellow: #e08a00;
$green: #629460;

$padding-lg-x: 2rem;
$padding-md-x: 1rem;

$laptop-screen: 1439px;
$tablet-screen: 1023px;
$mobile-screen: 767px;
