@import "../../resources/variables.scss";

.results-section {
  background: $floral-white;
  color: $charcoal;
  padding: 3rem;
  min-height: 90vh;

  h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  a:hover {
    filter: brightness(0.6);
  }
}

.green-score {
  color: $green;
}

.yellow-score {
  color: $strong-yellow;
}

.red-score {
  color: $red;
}

.score {
  font-size: 1.5em;
  margin-left: 1rem;
}

.score-group-comparison {
  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  margin: 2rem 0 4rem 0;
}

.analysis-details {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (max-width: $tablet-screen) {
  .results-section {
    padding: $padding-md-x;
  }

  .score-group-comparison {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    margin-bottom: 2rem;
  }

  .analysis-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
      text-align: center;
    }
  }
}

@media (max-width: $mobile-screen) {
  h2.result-headline {
    display: grid;
    font-size: 1em;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
  }

  .score-group-comparison {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 0.8rem;
    margin: 0;
  }

  .analysis-details-headline {
    margin-top: 3rem;
  }

  .analysis-details {
    margin: 0;
  }
}
